{% extends "base.html" %}
{% block content %}
<p>Email Me: banupraveena21@gmail.com <br>
    Instagram: <a href="https://www.instagram.com/banupraveena_m?igsh=Y2d5MDY2ODdlN2ts" target="_blank" rel="noopener noreferrer">Click Here</a> &nbsp;|&nbsp; <br>
  LinkedIn: <a href="https://www.linkedin.com/in/banu-praveena-b61034133?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer">BanuPraveena</a> 
</p>
<h2>Contact Me</h2>
<form method="POST">
    <input name="name" placeholder="Your Name" required><br><br>
    <textarea name="message" placeholder="Your Message" required></textarea><br><br>
    <button type="submit">Send</button>
</form>
{% endblock %}
